# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
my_venv/
.venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

requirement.txt

